.titulo-principal.color-acento-contenido .titulo-principal__numero span 
    color: white

.BorTit
  border-left: 4px solid #339CE9
  padding: 0px 0px 0px 10px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.introduccion-fondo1
  background: rgba(241,226,207,1);
  background: -moz-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,226,207,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e2cf', endColorstr='#ffffff', GradientType=0 );