

.BorTit
  border-left: 4px solid #6BBCB1
  padding: 5px 0px 5px 10px
  font-size: 0.8em

.BorTit2
  border-left: 4px solid #D44F4A
  padding: 5px 0px 5px 10px
  font-size: 0.8em

.BorTit3
  border-left: 4px solid #8979F3
  padding: 5px 0px 5px 10px
  font-size: 0.8em

.BorTitImg
  border-left-width: 4px 
  border-left-style: solid
  padding: 0px 0px 0px 10px  
  
.BorTitImg2
  border-left: 4px solid white
  padding: 0px 0px 0px 10px  

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.introduccion-fondo1
  position: relative
  padding-bottom: 1rem
  .row
    position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 150%
    height: 100%
    margin: 0 -5rem       
    background: rgba(241,226,207,1);
    background: -moz-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,226,207,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e2cf', endColorstr='#ffffff', GradientType=0 );

.tema1-div1
  height: 46px
  background-color: #E4C7A1
  border: 1px solid #707070

.tema1-row1
  position: relative
  padding-bottom: 1rem
  .row
    position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 150%
    height: 100%
    margin: 0 -5rem   
    background: rgba(232,237,217,1);
    background: -moz-linear-gradient(left, rgba(232,237,217,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,237,217,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(232,237,217,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(232,237,217,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(232,237,217,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(232,237,217,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8edd9', endColorstr='#ffffff', GradientType=1 );

.tema1-fondo1
  background-image: url("../assets/curso/tema1/img02.svg")

.cajon.color-secundario 
    background-color: #F4F9F8;

.tema1-cajon2 .cajon.color-secundario 
    background-color: #D5DAD6;

.vineta
  width: 20px;
  height: 20px;

.tabla-b, .tabla-c 
    overflow-x: hidden;


.td-borde
  border-right: 1px solid #e8e8e8 !important

.texto-blanco
  color: white !important

.bloque-texto-g.color-secundario 
    background-color: #E0DFE4;

.tema1-infografia .img-infografica__card, .img-infografica-b__card
  right: 0px !important  


.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #D44F4A !important
    color: #12263F;

.tema2-LineaTiempoD .linea-tiempo-d__item--selected .tarjeta--gris 
    background-color: #F8F1E7 !important;


.tema1-row2
  background: rgba(232,236,216,1);
  background: -moz-linear-gradient(left, rgba(232,236,216,1) 0%, rgba(237,225,203,1) 50%, rgba(248,241,232,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,236,216,1)), color-stop(50%, rgba(237,225,203,1)), color-stop(100%, rgba(248,241,232,1)));
  background: -webkit-linear-gradient(left, rgba(232,236,216,1) 0%, rgba(237,225,203,1) 50%, rgba(248,241,232,1) 100%);
  background: -o-linear-gradient(left, rgba(232,236,216,1) 0%, rgba(237,225,203,1) 50%, rgba(248,241,232,1) 100%);
  background: -ms-linear-gradient(left, rgba(232,236,216,1) 0%, rgba(237,225,203,1) 50%, rgba(248,241,232,1) 100%);
  background: linear-gradient(to right, rgba(232,236,216,1) 0%, rgba(237,225,203,1) 50%, rgba(248,241,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecd8', endColorstr='#f8f1e8', GradientType=1 );

.tema1-row3
  position: relative
  padding-bottom: 1rem
  .row
    position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 150%
    height: 100%
    margin: 0 -5rem    
    background: rgba(203,231,227,1);
    background: -moz-linear-gradient(top, rgba(203,231,227,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,231,227,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(203,231,227,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(203,231,227,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(203,231,227,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(203,231,227,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbe7e3', endColorstr='#ffffff', GradientType=0 );

.tema1-tab1 .tarjeta.color-primario
    background-color: #F8E4E3

.tema1-borde-titulo
  border-bottom: 2px solid #D44F4A

.slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 50px;
    height: 50px;
    background-color: #D44F4A !important
    border-radius: 50%;    
    background-repeat: no-repeat;
    background-size: 16px 24px;
    background-position: center;
    border: 1px solid #D8ECFF;
    top: 50%;
    z-index: 10000;
    opacity: 0.7;    
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

.slyder-a__tipo-a .slyder-a__bullets     
    bottom: -20px !important

.tema2-AcordionA .tarjeta--gris 
    background-color: #F8F1E7;


.tema2-fondo31
  background: rgba(245,211,210,1);
  background: -moz-linear-gradient(top, rgba(245,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,211,210,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(245,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(245,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(245,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(245,211,210,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d3d2', endColorstr='#ffffff', GradientType=0 );


.tema2-fondo1
  background: rgba(241,226,207,1);
  background: -moz-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,226,207,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e2cf', endColorstr='#ffffff', GradientType=0 );

.tema2-row111
  background: rgba(233,237,217,1);
  background: -moz-linear-gradient(left, rgba(233,237,217,1) 0%, rgba(249,243,235,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(233,237,217,1)), color-stop(100%, rgba(249,243,235,1)));
  background: -webkit-linear-gradient(left, rgba(233,237,217,1) 0%, rgba(249,243,235,1) 100%);
  background: -o-linear-gradient(left, rgba(233,237,217,1) 0%, rgba(249,243,235,1) 100%);
  background: -ms-linear-gradient(left, rgba(233,237,217,1) 0%, rgba(249,243,235,1) 100%);
  background: linear-gradient(to right, rgba(233,237,217,1) 0%, rgba(249,243,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9edd9', endColorstr='#f9f3eb', GradientType=1 );

.tema1.cajon.color-acento-contenido
  background-color: #F4D3D1 !important

.cajon.color-acento-contenido:before 
    background-color: #D44F4A;


.cajon.color-acento-contenido
  background-color: #F8F1E7 !important

.tema2-fondo2  
  background: rgba(204,232,228,1);
  background: -moz-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,232,228,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce8e4', endColorstr='#ffffff', GradientType=0 );

.tema2-fondo2  
  background: rgba(244,211,210,1);
  background: -moz-linear-gradient(top, rgba(244,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,211,210,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(244,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(244,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,211,210,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(244,211,210,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d3d2', endColorstr='#ffffff', GradientType=0 );

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number     
  color: white !important

.tema2-link .anexo
  background-color: #D2EBE7 !important

.tema3-link .anexo
  background-color: #FFFFFF !important

.tema2-link .anexo * 
  color: black !important

.tema3-link .anexo * 
  color: black !important

.tema2-row1
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(239,223,201,1) 63%, rgba(232,237,217,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(63%, rgba(239,223,201,1)), color-stop(100%, rgba(232,237,217,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(239,223,201,1) 63%, rgba(232,237,217,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(239,223,201,1) 63%, rgba(232,237,217,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(239,223,201,1) 63%, rgba(232,237,217,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(239,223,201,1) 63%, rgba(232,237,217,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8edd9', GradientType=1 );

.tema2-fondo3
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,224,202,1) 63%, rgba(232,236,216,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(63%, rgba(240,224,202,1)), color-stop(100%, rgba(232,236,216,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,224,202,1) 63%, rgba(232,236,216,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,224,202,1) 63%, rgba(232,236,216,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(240,224,202,1) 63%, rgba(232,236,216,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(240,224,202,1) 63%, rgba(232,236,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ecd8', GradientType=1 );

.cajon.color-primario 
    background-color: #F4D3D1;

.tema3-fondo1  
  background: rgba(204,232,228,1);
  background: -moz-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,232,228,1)), color-stop(74%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(204,232,228,1) 0%, rgba(255,255,255,1) 74%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce8e4', endColorstr='#ffffff', GradientType=0 );

.tema3-fondo10
  background-image: url("../assets/curso/tema3/img02.svg")
  background-color: #FFC400
  background-repeat: no-repeat
  background-size: contain

.tema3-fondo20
  background-image: url("../assets/curso/tema3/img02.svg")
  background-color: #FFC400
  background-repeat: no-repeat
  background-size: 100%

.circulo  
  height: 13px;
  width: 13px;   
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

.linea-tiempo-d__item--selected .tarjeta--gris 
  background-color: #C0EBF6 !important


.tema-2-bloque .bloque-texto-g__img
  left: 50% !important

.tema-2-bloque  .bloque-texto-g
  justify-content: flex-start !important

.tabs-c__tab--active span
  font-weight: bold

  

  
  